/target
**/*.rs.bk
/cloc
*.lock
.*
!.github
/*.log
/*.png
/examples/data/lightmaps
/save.bin
/examples/data/lightmap_scene.rgs
/rg3d-core/test.bin
/rg3d-core/test.txt
/rg3d-core-derive/test_output
/test_output
