[package]
name = "rg3d"
version = "0.24.0"
authors = ["Dmitry Stepanov <d1maxa@yandex.ru>"]
edition = "2021"
license = "MIT"
description = "3D Game engine"
keywords = ["sound", "game", "engine", "3d", "gui"]
categories = ["game-engines", "graphics", "gui", "rendering", "wasm"]
include = ["/src/**/*", "/Cargo.toml", "/LICENSE", "/README.md"]
homepage = "https://rg3d.rs"
documentation = "https://docs.rs/rg3d"
repository = "https://github.com/mrDIMAS/rg3d"
readme = "README.md"
resolver = "2"
rust-version = "1.56"

[workspace]
members = [
    "rg3d-core-derive",
    "rg3d-core",
    "rg3d-sound",
    "rg3d-ui",
    "rg3d-resource",
    "rg3d-physics/build/rg3d-physics2d",
    "rg3d-physics/build/rg3d-physics3d",
    "examples/wasm",
	"editor"
]

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
debug = true

[dependencies]
rg3d-core = { path = "rg3d-core", version = "0.19.0", features = ["serde"] }
rg3d-sound = { path = "rg3d-sound", version = "0.26.0" }
rg3d-ui = { path = "rg3d-ui", version = "0.15.0" }
rg3d-resource = { path = "rg3d-resource", version = "0.3.0" }
rg3d-physics2d = { path = "rg3d-physics/build/rg3d-physics2d", version = "0.2.0" }
rg3d-physics3d = { path = "rg3d-physics/build/rg3d-physics3d", version = "0.2.0" }
image = { version = "0.23.13", default-features = false, features = ["gif", "jpeg", "png", "tga", "tiff", "bmp"] }
inflate = "0.4.5"
serde = { version = "1", features = ["derive"] }
lazy_static = "1.4.0"
ddsfile = "0.4.0"
rayon = "1.5.1"
tbc = "0.3.0"
bitflags = "1.3.2"
glow = "0.11"
walkdir = "2.3.2"
thiserror = "1"
ron = "0.7.0"
fxhash = "0.2.1"
strum = "0.23.0"
strum_macros = "0.23.1"
mla = "1.2.0"

[features]
enable_profiler = ["rg3d-core/enable_profiler"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
glutin = {version = "0.28.0", features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
winit = { version = "0.26.0", features = ["serde"] }
