[Desktop Entry]
Name=Rusty Editor
Version=0.7.0
Comment=Scene editor for Fyrox Engine
GenericName=Rusty Editor
Exec=Fyroxed
Icon=Fyroxed-icon
Type=Application
Terminal=false
Categories=Editors
