<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Game</title>

    <link rel="stylesheet" href="styles.css" />
    <script type="module" defer src="main.js"></script>
  </head>

  <body>
    <noscript>This page contains WebAssembly and JavaScript content, please enable JavaScript in your browser.</noscript>
    <main id="main">
      <button class="button-3d" id="button-start" type="button" role="button">
        Start
      </button>
    </main>
  </body>
</html>
